<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="card">

      <div class="card-body">
        <h5>Login</h5>
        <!-- Login Form -->
        <form [formGroup]="signInForm" (submit)="onLoginSubmit()">

          <!-- Username Field -->
          <div class="form-group">
            <label for="usernameOrEmail">Username</label>
            <div>
              <input class="form-control" type="text" name="usernameOrEmail" formControlName="usernameOrEmail" />

            </div>
          </div>

          <!-- Password Field  -->
          <div class="form-group">
            <label for="password">Password</label>
            <div>
              <input class="form-control" type="password" name="password" formControlName="password" />
              <!-- Validation -->

            </div>
          </div>
          <!-- Submit Button -->
          <input class="btn btn-primary" [disabled]="!signInForm.valid" type="submit" value="Login" />
        </form>
        <p class="float-right">Does not have an account? <a [routerLink]="'/register'">Sign Up Here</a></p>
      </div>

    </div>

  </div>

</div>
